/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap'); /*
=============== 
Variables
===============
*/
:root {
  /* 
    :::::Color Palette:::::::
    Main: #6E9887
    CTA: #FF101F
    Bg: #fafafa
    Grey: #393E41
    */

  /* Colors */
  --MainColor: #ff7b00;
  --BgColor: #fafafa;
  --MainGray: #262829;
  --CtaColor: #ff101f;

  /* grey used for paragraphs */
  --clr-white: #fff;
  --MainFont: 'Open Sans', sans-serif;
  --SecondaryFont: ;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 0.875rem;
}
html {
  background: var(--BgColor);
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.2;
  margin-bottom: 0.75rem;
  font-family: var(--MainFont);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* section */
.section {
  width: 100vw;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.section-division {
  width: 100vw;
  height: 0.2rem;
  background: linear-gradient(
    to left,
    var(--BgColor),
    var(--MainColor),
    var(--BgColor)
  );
}
/*
=============== 
Navbar / Sidebar
===============
*/
.navbar {
  width: 100vw;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  background: transparent;
}
.navbar-logo {
  padding-left: 1rem;
  color: white;
  font-size: 1.5rem;
  display: none;
}

.menu-sidebar-open-btn {
  margin-right: 1rem;
  font-size: 3rem;
  color: white;
  transition: var(--transition);
  cursor: pointer;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 2;
}
.menu-sidebar-open-btn:hover {
  color: var(--MainColor);
}
.navbar-links {
  display: none;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 100vw;
  z-index: 10;
  background: var(--MainGray);
  transform: translateX(-100%);
  transition: var(--transition);
  position: fixed;
  top: 0;
  left: 0;
}
.show-sidebar {
  transform: translateX(0);
}
.sidebar-links {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.sidebar-links li {
  padding: 1.6rem 0.7rem;
  transition: var(--transition);
  cursor: pointer;
}
.sidebar-links li:hover {
  color: var(--MainColor);
}
.sidebar-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  transition: var(--transition);
}
.sidebar-close-btn:hover {
  color: var(--CtaColor);
}
.sidebar-social-icons {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  color: white;
  font-size: 2rem;
}
.sidebar-social-icons > * {
  cursor: pointer;
  transition: var(--transition);
}
.sidebar-social-icons > *:hover {
  color: var(--MainColor);
  transform: scale(1.3);
}
/*

/*
=============== 
Hero Section
===============
*/
.hero-container {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./images/lamps.jpg') center/cover fixed no-repeat;
}
.hero-info-container {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.hero-info-container h4 {
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 300;
}
.hero-btn {
  padding: 0.7rem 3rem;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  border: 1.7px solid var(--MainColor);
  letter-spacing: 2px;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 5px;
  background-color: transparent;
}
.hero-btn:hover {
  background-color: rgba(255, 255, 255, 0.145);
  color: white;
}
/*
=============== 
About Section
===============
*/
.about-section {
  width: 100vw;
}
.about-container {
  width: 90vw;
  margin: 0 auto;
  position: relative;
  background: var(--BgColor);
}
.about-img-container {
  display: none;
}

.about-title {
  text-align: center;
  margin-top: 3rem;
}
.about-info {
  margin: 0 auto;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 3rem;
}
.about-info-projects-invite {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about-info p {
  letter-spacing: 1.2px;
  line-height: 1.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
  max-width: 75%;
}
.about-info span {
  color: var(--MainColor);
  cursor: pointer;
}
.about-btn {
  margin-top: 2rem;
  padding: 1rem 3rem;
  border: 2px solid var(--MainColor);
  cursor: pointer;
  transition: var(--transition);
  border-radius: 5px;
  background-color: transparent;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--MainColor);
  text-transform: uppercase;
}
.about-btn:hover {
  background-color: var(--MainColor);
  color: white;
}

/*
=============== 
Projects
===============
*/
.projects-section {
  width: 100vw;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./images/windows.jpg') center/cover fixed no-repeat;
}
.projects-container {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.projects-title {
  color: white;
}
.single-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-project-container {
  width: 20rem;
  height: 13rem;
  text-align: center;
  position: relative;
  margin: 1.2rem auto;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.378);
  background: #444444;
  overflow: hidden;
}

.single-project-container img {
  width: 100%;
  min-height: 100%;
  transition: var(--transition);
  display: block;
  object-fit: cover;
}
.project-info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  opacity: 0;
}
.project-text-container {
  margin-bottom: 5rem;
}
.project-text-container h3 {
  color: white;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
}
.project-text-container p {
  color: white;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
.project-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  transition: var(--transition);
}
.project-icons-container > * {
  color: white;
  cursor: pointer;
}
.project-icons-container > *:hover {
  color: var(--MainColor);
}
.single-project-container:hover img {
  opacity: 0.2;
  transform: scale(1.05);
}
.single-project-container:hover .project-info-container,
.single-project-container:hover .project-icons-container {
  opacity: 1;
}

/*
=============== 
Contact
===============
*/
.contact-section {
  width: 100vw;
  margin: 0 auto;
  background: url('./images/door.jpg') center/cover fixed no-repeat;
}
.contact-section-container {
  width: 90vw;
  margin: 0 auto;
}
.contact-title-container {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}
.contact-subtitle {
  color: #262829;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.contact-written-info-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 1.7rem;
}
.contact-written-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-written-info p {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.contact-written-icon {
  color: var(--MainColor);
  font-size: 1.3rem;
}
.contact-methods-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.contact-form input {
  background: #262829e0;
  border: none;
  outline: none;
  color: white;
  padding: 0.5rem 0;
  margin-bottom: 3px;
  border-radius: 0.4rem;
}
.contact-form input::placeholder {
  color: rgba(255, 255, 255, 0.631);
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 0.7rem;
  padding-left: 0.5rem;
}
.contact-form textarea {
  background: #262829e0;
  border: none;
  outline: none;
  color: white;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  resize: none;
  padding-top: 0.5rem;
}
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.631);
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 0.7rem;
  padding-left: 0.5rem;
}
.contact-form button {
  padding: 0.5rem;
  background: #262829e0;
  border: none;
  outline: none;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  cursor: pointer;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  transition: var(--transition);
  margin-bottom: 2rem;
}
.contact-form button:hover {
  color: var(--MainColor);
}
.contact-social-media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5rem;
}
.contact-social-media-container > * {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 2rem;
  transition: var(--transition);
  cursor: pointer;
}
.contact-social-media-container > *:hover {
  color: var(--MainColor);
}

/*
=============== 
Footer
===============
*/
.footer-section {
  width: 100vw;
  background: var(--MainGray);
  padding: 2rem;
  border-top: 1px solid var(--MainColor);
}
.footer-container {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}
.footer-social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.footer-social-icons > * {
  color: white;
  font-size: 1.3rem;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: var(--transition);
}
.footer-social-icons > *:hover {
  color: var(--MainColor);
  transform: translateY(-25%);
}
.footer-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  letter-spacing: 2.5px;
  font-weight: 300;
}
.footer-info p {
  font-size: 1rem;
}
.footer-info h6 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 0.7rem;
  margin-top: 0.4rem;
}
